.idea/workspace.xml
*.pyc
*.DS_Store
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml

rosapi/*
demo*
*.graffle

model/header/*
model/EfficientDet.py
model/featnet/

data/*
output/*

*.o
*.so
